<a href="https://colab.research.google.com/github/soniapachecomza/python-practica/blob/main/Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [10]:
s = pd.Series(list('asdaesdaesdaesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    e
13    s
14    d
15    a
dtype: object

In [11]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [12]:
s.value_counts()

a    5
s    4
d    4
e    3
dtype: int64

In [13]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [14]:
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [15]:
datos.Tipo.value_counts()

Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: Tipo, dtype: int64

In [16]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [17]:
eventos = {'m1': list(m1), 
                'm2': list(m2), 
                'm3': list(m3), 
                'm4': list(m4), 
                'm5': list(m5)}
monedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara', 'Crown'], 
                    index = ['c', 'C'], 
                    columns = ['Faces'])
for item in monedas:
    df = pd.concat([df, monedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Crown  25  24  31  27  25

In [18]:
eventos = {'m1': list(m1), 
                'm2': list(m2), 
                'm3': list(m3), 
                'm4': list(m4), 
                'm5': list(m5)}
monedas = pd.DataFrame(eventos)
for item in monedas:
    df = pd.concat([df, monedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25  25  26  19  23  25
C  Crown  25  24  31  27  25  25  24  31  27  25